<ng-template #content>
  <div class="table__error__popup">
    <h2 class="table__error__popup__title" [id]="id + '-title'">{{ title() }}</h2>
    <p class="table__error__popup__text" [id]="id + '-text'">{{ text() }}</p>
    @if (!isCloseButtonHidden() || !isRetryButtonHidden()) {
      <div class="table__error__popup__actions">
        @if (!isCloseButtonHidden()) {
          <app-button appearance="light" (clicked)="close()">{{ texts()?.close }}</app-button>
        }
        @if (!isRetryButtonHidden()) {
          <app-button (clicked)="retryLoad()">{{ texts()?.retry }}</app-button>
        }
      </div>
    }
  </div>
</ng-template>
