<main class="contact__support">
  <section class="contact__support__panel">
    <h1 class="contact__support__title">
      {{ 'management.settings.contact_support.help.title' | translate }}
    </h1>
    @let info = supportInfo();
    <ul class="contact__support__boxes">
      <li class="contact__support__box">
        <h2 class="contact__support__box__title">
          <img [src]="phoneIcon" width="14" height="14" alt="" />
          {{ 'management.settings.contact_support.help.phone' | translate }}
        </h2>
        @if (info) {
          <a class="contact__support__box__value" dir="ltr" [href]="supportPhoneLink()">{{
            info.phoneNumber
          }}</a>
        }
      </li>
      <li class="contact__support__box">
        <h2 class="contact__support__box__title">
          <img [src]="emailIcon" width="14" height="14" alt="" />
          {{ 'management.settings.contact_support.help.email' | translate }}
        </h2>
        @if (info) {
          <a class="contact__support__box__value" [href]="'mailto:' + info.mailAddress">{{
            info.mailAddress
          }}</a>
        }
      </li>
      <li class="contact__support__box contact__support__box__hours">
        <h2 class="contact__support__box__title">
          <img [src]="clockIcon" width="14" height="14" alt="" />
          {{ 'management.settings.contact_support.help.hours' | translate }}
        </h2>
        @for (line of info?.supportHour ?? []; track $index) {
          <p class="contact__support__box__value">{{ line }}</p>
        }
      </li>
    </ul>
    @if (supportInfoErrorMessage(); as supportInfoErrorMessage) {
      <p class="contact__support__error contact__support__info__error">
        {{ supportInfoErrorMessage }}
      </p>
    }
  </section>

  <section class="contact__support__panel">
    <h2
      class="contact__support__title contact__support__title__underlined"
    >
      {{ 'management.settings.contact_support.form.title' | translate }}
    </h2>
    <form class="contact__support__form" novalidate (submit)="send($event)">
      <app-filled-text-field
        autocomplete="given-name"
        [label]="'management.settings.contact_support.form.first_name' | translate"
        [isMandatory]="true"
        [placeholder]="'management.settings.contact_support.form.examples.first_name' | translate"
        [formField]="contactForm.firstName"
        [error]="firstNameError()"
      />
      <app-filled-text-field
        autocomplete="family-name"
        [label]="'management.settings.contact_support.form.last_name' | translate"
        [isMandatory]="true"
        [placeholder]="'management.settings.contact_support.form.examples.last_name' | translate"
        [formField]="contactForm.lastName"
        [error]="lastNameError()"
      />
      <app-filled-text-field
        autocomplete="email"
        [label]="'management.settings.contact_support.form.email' | translate"
        [isMandatory]="true"
        [placeholder]="'management.settings.contact_support.form.examples.email' | translate"
        [formField]="contactForm.email"
        [error]="emailError()"
      />
      <app-filled-text-field
        autocomplete="tel"
        [isPhoneField]="true"
        [label]="'management.settings.contact_support.form.mobile_phone' | translate"
        [placeholder]="'management.settings.contact_support.form.examples.mobile_phone' | translate"
        [formField]="contactForm.mobilePhone"
        [error]="mobilePhoneError()"
      />
      <app-filled-textarea
        [label]="'management.settings.contact_support.form.message' | translate"
        [isMandatory]="true"
        [formField]="contactForm.message"
        [error]="messageError()"
      />

      @if (errorMessage(); as errorMessage) {
        <p class="contact__support__error">{{ errorMessage }}</p>
      }
      <div class="contact__support__send">
        <app-button
          [size]="ButtonSize.Small"
          [isSubmitButton]="true"
          [isFullWidth]="true"
          [disabled]="contactForm().invalid()"
          [isLoading]="isLoading()"
        >
          {{ 'management.settings.contact_support.form.send' | translate }}
        </app-button>
      </div>
    </form>
  </section>
</main>

<app-message-popup
  [title]="'management.settings.contact_support.sent.title' | translate"
  [text]="'management.settings.contact_support.sent.text' | translate"
  [texts]="'management.settings.contact_support.sent' | translate"
  [(open)]="sent"
/>
