<main class="warehouse">
  <app-page-title
    class="warehouse__title"
    [text]="'management.warehouse.title' | translate"
    [pathIcon]="titleIcon"
  />
  <app-table
    #table
    [columns]="columns()"
    [params]="filters.request()"
    [load]="warehouse.list"
    idField="idArticle"
    [texts]="'table' | translate"
    [isSearchable]="true"
    [useAppTheme]="false"
    [areMassiveActionsHidden]="true"
    [isCreateButtonHidden]="true"
    [pathIcon]="tableIcons"
    (loadError)="loadFailed.set(true)"
  />
</main>

<app-table-error-popup
  [title]="'table.load_error.title' | translate"
  [text]="'table.load_error.text' | translate"
  [texts]="'table.load_error' | translate"
  [(open)]="loadFailed"
  (retry)="table.reload()"
/>
