<main class="warehouse">
  <app-table
    #table
    [columns]="columns()"
    [params]="filters.request()"
    [load]="warehouse.list"
    [texts]="'table' | translate"
    [searchable]="true"
    [useAppTheme]="true"
    [hideEditButtons]="false"
    [pathIcon]="tableIcons"
    (loadError)="loadFailed.set(true)"
  />
</main>

<app-table-error-popup
  [title]="'table.load_error.title' | translate"
  [text]="'table.load_error.text' | translate"
  [texts]="'table.load_error' | translate"
  [(open)]="loadFailed"
  (retry)="table.reload()"
/>
