:host {
  display: grid;
}

.i18n__text__value,
.i18n__text__reserve {
  grid-area: 1 / 1;
}

.i18n__text__reserve {
  visibility: hidden;
  pointer-events: none;
}

.i18n__text__reserve::before {
  content: attr(data-i18n-reserve);
}
