@if (label()) {
  <label class="filled__text__field__label" [for]="id"
    >{{ label() }}
    @if (isMandatory()) {
      <span class="filled__text__field__mandatory">*</span>
    }
  </label>
}
<mat-form-field
  class="filled__text__field__control"
  appearance="fill"
  subscriptSizing="dynamic"
  [class.filled__text__field__invalid]="!!error()"
  [class.filled__text__field__locked]="readonly() || disabled()"
>
  <input
    #field
    matInput
    [required]="isMandatory()"
    [readonly]="readonly()"
    [disabled]="disabled()"
    [type]="inputType()"
    [attr.dir]="isPhoneField() ? 'ltr' : null"
    [id]="id"
    [value]="value() ?? ''"
    [placeholder]="placeholder() ?? ''"
    [attr.maxlength]="maxLength() ?? null"
    [name]="name() ?? ''"
    [attr.autocomplete]="autocomplete() ?? null"
    [errorStateMatcher]="errorMatcher"
    (input)="value.set(field.value || null)"
    (blur)="touch.emit()"
  />
  @if (isPasswordField()) {
    <button
      matSuffix
      class="filled__text__field__toggle"
      type="button"
      (click)="toggleVisible()"
    >
      @if (icons().list[visible() ? 0 : 1]; as icon) {
        @if (icons().material) {
          <mat-icon>{{ icon }}</mat-icon>
        } @else {
          <img [src]="icon" width="18" height="18" alt="" />
        }
      }
    </button>
  }
</mat-form-field>
@if (error(); as error) {
  <p class="filled__text__field__error">{{ error }}</p>
}
