@if (label()) {
  <label class="filled__text__field__label" [for]="id"
    >{{ label() }}
    @if (isMandatory()) {
      <span class="filled__text__field__mandatory" aria-hidden="true">*</span>
    }
  </label>
}
<mat-form-field
  class="filled__text__field__control"
  appearance="fill"
  subscriptSizing="dynamic"
  [class.filled__text__field__invalid]="!!error()"
  [class.filled__text__field__locked]="readonly() || disabled()"
>
  <input
    #field
    matInput
    [required]="isMandatory()"
    [readonly]="readonly()"
    [disabled]="disabled()"
    [type]="type()"
    [id]="id"
    [value]="value()"
    [placeholder]="placeholder() ?? ''"
    [attr.maxlength]="maxLength() ?? null"
    [attr.name]="name() ?? null"
    [attr.autocomplete]="autocomplete() ?? null"
    [attr.aria-labelledby]="labelledBy() ?? null"
    [errorStateMatcher]="errorMatcher"
    [attr.aria-describedby]="error() ? id + '-error' : null"
    (input)="value.set(field.value)"
    (blur)="touch.emit()"
  />
</mat-form-field>
@if (error(); as error) {
  <p class="filled__text__field__error" [id]="id + '-error'">{{ error }}</p>
}
