<ng-template #label><ng-content /></ng-template>

@if (appearance() !== 'secondary') {
  <button
    mat-flat-button
    [attr.aria-label]="accessibleLabel() ?? null"
    [attr.type]="buttonType()"
    [disabled]="disabled()"
    (click)="clicked.emit()"
  >
    <ng-container [ngTemplateOutlet]="label" />
  </button>
} @else {
  <button
    mat-button
    [attr.aria-label]="accessibleLabel() ?? null"
    [attr.type]="buttonType()"
    [disabled]="disabled()"
    (click)="clicked.emit()"
  >
    <ng-container [ngTemplateOutlet]="label" />
  </button>
}
