<button
  class="dropdown__menu__trigger"
  type="button"
  [matMenuTriggerFor]="menu"
>
  <ng-content />
</button>

<mat-menu #menu [class]="panelClass()">
  @for (item of items(); track item.value) {
    <button
      mat-menu-item
      (click)="selected.set(item.value)"
    >
      @if (icons().list[$index]; as icon) {
        @if (icons().material) {
          <mat-icon class="dropdown__menu__icon">{{ icon }}</mat-icon>
        } @else {
          <img class="dropdown__menu__icon" [src]="icon" width="20" height="20" alt="" />
        }
      }
      @if (!iconOnly()) {
        <span>{{ item.label }}</span>
      }
    </button>
  }
</mat-menu>
