@use '@angular/material' as mat;

:host {
  display: inline-flex;

  @include mat.icon-button-overrides(
    (
      state-layer-size: 1.875rem,
      icon-size: 1rem,
      icon-color: var(--color__main__theme__one),
      state-layer-color: var(--color__main__theme__one),
      touch-target-display: none,
    )
  );
}

.icon__button {
  background: var(--icon-button-background, #ebebeb);

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  &:focus-visible {
    outline: 0.125rem solid var(--color__main__theme__one);
    outline-offset: 0.125rem;
  }
}

.icon__button__text {
  font: inherit;
  font-size: 0.875rem;
}
