@use '../card-surface' as card;

:host {
  display: block;
}

.card {
  @include card.card-surface;

  padding: 2.5rem;
}

.card__icon {
  display: block;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  object-fit: contain;
}

.card__heading {
  margin: 0 0 1.5rem;
  color: var(--color__main__theme__one);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: #767676;
  font-size: 0.875rem;
  line-height: 1.625;
}
